<mat-toolbar>
    <span>Galerie</span>
</mat-toolbar>

<div class="gallery">
    <mat-grid-list cols="4" rowHeight="360px">
        <mat-grid-tile *ngFor="let picture of pictures">
            <mat-card class="picture">
                <img mat-card-image class="pictures" src={{picture.url}} alt="{name}">
                <mat-card-subtitle>{{picture.name}}</mat-card-subtitle>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

    <button mat-fab class="webcamButton" (click)="openWebcamDialog()">
        <mat-icon>add_a_photo</mat-icon>
    </button>
</div>