<h1 mat-dialog-title>Take a picture</h1>
<div mat-dialog-content class="form">
    <div *ngIf="!alert; else message">
        <video #video autoplay width="640" height="480"></video>
        <button (click)="takePicture()">Capture</button>
        <canvas #canvas width="640" height="480"></canvas>
        <div *ngIf="capture">
            <img src="capture" height="50" />
        </div>
    </div>
    <ng-template #message>
        <p>{{alert}}</p>
    </ng-template>
</div>
<div mat-dialog-actions>
    <button mat-stroked-button (click)="onCancel()">Cancel</button>
    <button *ngIf="!alert" mat-stroked-button color="primary" type="submit" (click)="addPicture()">Create</button>
</div>